body {
  background: linear-gradient(50deg, RGBA(255,127,80), RGBA(135,206,235)) fixed;
}

#searchTermContainer {
    margin-top: 300px;
}

#articles {
    margin-top: 10px;
}

.card {
    margin-bottom: 20px;
}